<header id="header">
    <!--header-->
    <!-- <div class="header_top">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li>
                                <a href="tel:+91 98714 95304">
                                    <i class="fa fa-phone"></i> +91 98714 95304</a>
                            </li>
                            <li>
                                <a>
                                    <i class="fa fa-envelope"></i> info@rgStore.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="social-icons pull-right">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!--/header_top-->

    <div class="header-middle">
        <!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="logo pull-left">
                        <a routerLink="/home">
                            <img src="./assets/images/home/logo.png" alt="" />
                        </a>
                    </div>
                    <!-- <div class="btn-group pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                                USA
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Canada</a></li>
                                <li><a href="#">UK</a></li>
                            </ul>
                        </div>
                        
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                                DOLLAR
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Canadian Dollar</a></li>
                                <li><a href="#">Pound</a></li>
                            </ul>
                        </div>
                    </div> -->
                </div>
                <div class="col-sm-10">
                    <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav">
                            <li *ngIf="isUserLoggedIn">
                                <a routerLink="/account">
                                    <i class="fa fa-user"></i> Account</a>
                            </li>
                            <li *ngIf="isUserLoggedIn">
                                <a routerLink="/wishlist">
                                    <i class="fa fa-star"></i> Wishlist</a>
                            </li>
                            <li *ngIf="isUserLoggedIn">
                                <a routerLink="/checkout">
                                    <i class="fa fa-crosshairs"></i> Checkout</a>
                            </li>
                            <li>
                                <a routerLink="/cart">
                                    <i class="fa fa-shopping-cart"></i> Cart</a>
                            </li>
                            <li>
                                <a routerLink="/login">
                                    <i class="fa fa-lock"></i> Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/header-middle-->

    <div class="header-bottom">
        <!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li>
                                <a routerLink="/home" (click)="isSelected='home'" [ngClass]="{'active': isSelected=='home'}">Home</a>
                            </li>
                            <li class="dropdown">
                                <a routerLink="/products" (click)="isSelected='products'" [ngClass]="{'active': isSelected=='products'}">Products</a>
                            </li>
                            <!-- <li class="dropdown">
                                <a href="#">Blog
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul role="menu" class="sub-menu">
                                    <li>
                                        <a href="blog.html">Blog List</a>
                                    </li>
                                    <li>
                                        <a href="blog-single.html">Blog Single</a>
                                    </li>
                                </ul>
                            </li> -->
                            <!-- <li>
                                <a href="404.html">404</a>
                            </li> -->
                            <li>
                                <a routerLink="/contactus" (click)="isSelected='contactus'" [ngClass]="{'active': isSelected=='contactus'}">Contact Us</a>
                            </li>
                            <li>
                                <a routerLink="/aboutus"  (click)="isSelected='aboutus'" [ngClass]="{'active': isSelected=='aboutus'}">About Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="search_box pull-right">
                        <input type="text" placeholder="Search" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/header-bottom-->
</header>
<!--/header-->