<!-- End Navbar -->

<div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image" parallax="true" style="background-image: url('./assets/img/header-new.jpg');">
    </div>
    <div class="container">
        <div class="content-center brand">
            <h1 style="color:black" class="h1-seo">
                <b>RG</b>
            </h1>
            <h1 class="h1-seo">Rastogi Garments</h1>
            <h3>A Family store...</h3>
        </div>
        <h6 class="category category-absolute">Designed by @SRustagi.</h6>
    </div>
</div>
<div class="main">
    <div class="section">
        <!-- <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="hero-images-container">
                            <img src="assets/img/hero-image-1.png" alt="">
                        </div>
                        <div class="hero-images-container-1">
                            <img src="assets/img/hero-image-2.png" alt="">
                        </div>
                        <div class="hero-images-container-2">
                            <img src="assets/img/hero-image-3.png" alt="">
                        </div>
                    </div>
                </div>
            </div> -->
    </div>
    <div class="section section-basic">
        <div class="container">
            <h3 class="title">Few of our Products</h3>
            <span class="txt-primary" style="float: right;">Show All</span>
        </div>
    </div>
    <div class="section section-tabs">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-xl-3">
                    <div class="card">
                        <div class="col-sm-12" style="margin-top:15px;">
                            <img src="assets/img/avatar.jpg" alt="Rounded Image" class="rounded">
                        </div>
                        <div style="padding:15px;">

                            <div class="tab-pane active" id="home1" role="tabpanel">
                                <p class="category">Black Hat </p>
                                <p>Rs: 500</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-3">
                    <div class="card">
                        <div class="col-sm-12" style="margin-top:15px;">
                            <img src="assets/img/avatar.jpg" alt="Rounded Image" class="rounded">
                        </div>
                        <div style="padding:15px;">

                            <div class="tab-pane active" id="home1" role="tabpanel">
                                <p class="category">Black Hat </p>
                                <p class="text-primary">Rs: 500</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-3">
                    <div class="card">
                        <div class="col-sm-12" style="margin-top:15px;">
                            <img src="assets/img/avatar.jpg" alt="Rounded Image" class="rounded">
                        </div>
                        <div style="padding:15px;">

                            <div class="tab-pane active" id="home1" role="tabpanel">
                                <p class="category">Black Hat </p>
                                <p class="text-primary">Rs: 500</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-3">
                    <div class="card">
                        <div class="col-sm-12" style="margin-top:15px;">
                            <img src="assets/img/avatar.jpg" alt="Rounded Image" class="rounded">
                        </div>
                        <div style="padding:15px;">

                            <div class="tab-pane active" id="home1" role="tabpanel">
                                <p class="category">Black Hat </p>
                                <p>Rs: 500</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-3">
                    <div class="card">
                        <div class="col-sm-12" style="margin-top:15px;">
                            <img src="assets/img/avatar.jpg" alt="Rounded Image" class="rounded">
                        </div>
                        <div style="padding:15px;">

                            <div class="tab-pane active" id="home1" role="tabpanel">
                                <p class="category">Black Hat </p>
                                <p>Rs: 500</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-3">
                    <div class="card">
                        <div class="col-sm-12" style="margin-top:15px;">
                            <img src="assets/img/avatar.jpg" alt="Rounded Image" class="rounded">
                        </div>
                        <div style="padding:15px;">

                            <div class="tab-pane active" id="home1" role="tabpanel">
                                <p class="category">Black Hat </p>
                                <p>Rs: 500</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-3">
                    <div class="card">
                        <div class="col-sm-12" style="margin-top:15px;">
                            <img src="assets/img/avatar.jpg" alt="Rounded Image" class="rounded">
                        </div>
                        <div style="padding:15px;">

                            <div class="tab-pane active" id="home1" role="tabpanel">
                                <p class="category">Black Hat </p>
                                <p>Rs: 500</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-3">
                    <div class="card">
                        <div class="col-sm-12" style="margin-top:15px;">
                            <img src="assets/img/avatar.jpg" alt="Rounded Image" class="rounded">
                        </div>
                        <div style="padding:15px;">
                            <div class="tab-pane active" id="home1" role="tabpanel">
                                <p class="category">Black Hat </p>
                                <p>Rs: 500</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="section section-download" id="#download-section" background-color="black">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="text-center col-md-12 col-lg-8">
                    <h3 class="title">Do you love our Collection?</h3>
                    <h5 class="description">With a beautiful collection of handbags and clutches that suit your wardrobe perfectly, RG is one of the upcoming fashion lifestyle brands.</h5>
                </div>
                <div class="text-center col-md-12 col-lg-8">
                    <a  class="btn btn-primary btn-lg btn-round" role="button">
                        Contact Us
                    </a>
                    <a  target="_blank" class="btn btn-primary btn-lg btn-simple btn-round" role="button">
                        Reach US
                    </a>
                </div>
            </div>
            <br>
            <br>
            <div class="row justify-content-md-center sharing-area text-center">
                <div class="text-center col-md-12 col-lg-8">
                    <h3>Thank you for supporting us!</h3>
                </div>
                <div class="text-center col-md-12 col-lg-8">
                    <a target="_blank"  class="btn btn-neutral btn-icon btn-twitter btn-round btn-lg"
                        rel="tooltip" title="Follow us">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a target="_blank"  class="btn btn-neutral btn-icon btn-facebook btn-round btn-lg"
                        rel="tooltip" title="Like us">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                    <a target="_blank"  class="btn btn-neutral btn-icon btn-linkedin btn-lg btn-round"
                        rel="tooltip" title="Follow us">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a target="_blank"  class="btn btn-neutral btn-icon btn-github btn-round btn-lg"
                        rel="tooltip" title="Star on Github">
                        <i class="fa fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>