<div class="main">
    <div class="section">
        <!-- <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="hero-images-container">
                            <img src="assets/img/hero-image-1.png" alt="">
                        </div>
                        <div class="hero-images-container-1">
                            <img src="assets/img/hero-image-2.png" alt="">
                        </div>
                        <div class="hero-images-container-2">
                            <img src="assets/img/hero-image-3.png" alt="">
                        </div>
                    </div>
                </div>
            </div> -->
    </div>
    <div class="section section-basic">
        <div class="container">
            <h3 class="title">Few of our Products</h3>
            <span class="txt-primary" style="float: right;">Show All</span>
        </div>
    </div>
    <div class="section section-tabs">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-xl-3">
                    <div class="card">
                        <div class="col-sm-12" style="margin-top:15px;">
                            <img src="assets/img/avatar.jpg" alt="Rounded Image" class="rounded">
                        </div>
                        <div style="padding:15px;">

                            <div class="tab-pane active" id="home1" role="tabpanel">
                                <p class="category">Black Hat </p>
                                <p>Rs: 500</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-3">
                    <div class="card">
                        <div class="col-sm-12" style="margin-top:15px;">
                            <img src="assets/img/avatar.jpg" alt="Rounded Image" class="rounded">
                        </div>
                        <div style="padding:15px;">

                            <div class="tab-pane active" id="home1" role="tabpanel">
                                <p class="category">Black Hat </p>
                                <p class="text-primary">Rs: 500</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-3">
                    <div class="card">
                        <div class="col-sm-12" style="margin-top:15px;">
                            <img src="assets/img/avatar.jpg" alt="Rounded Image" class="rounded">
                        </div>
                        <div style="padding:15px;">

                            <div class="tab-pane active" id="home1" role="tabpanel">
                                <p class="category">Black Hat </p>
                                <p class="text-primary">Rs: 500</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-3">
                    <div class="card">
                        <div class="col-sm-12" style="margin-top:15px;">
                            <img src="assets/img/avatar.jpg" alt="Rounded Image" class="rounded">
                        </div>
                        <div style="padding:15px;">

                            <div class="tab-pane active" id="home1" role="tabpanel">
                                <p class="category">Black Hat </p>
                                <p>Rs: 500</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-3">
                    <div class="card">
                        <div class="col-sm-12" style="margin-top:15px;">
                            <img src="assets/img/avatar.jpg" alt="Rounded Image" class="rounded">
                        </div>
                        <div style="padding:15px;">

                            <div class="tab-pane active" id="home1" role="tabpanel">
                                <p class="category">Black Hat </p>
                                <p>Rs: 500</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-3">
                    <div class="card">
                        <div class="col-sm-12" style="margin-top:15px;">
                            <img src="assets/img/avatar.jpg" alt="Rounded Image" class="rounded">
                        </div>
                        <div style="padding:15px;">

                            <div class="tab-pane active" id="home1" role="tabpanel">
                                <p class="category">Black Hat </p>
                                <p>Rs: 500</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-3">
                    <div class="card">
                        <div class="col-sm-12" style="margin-top:15px;">
                            <img src="assets/img/avatar.jpg" alt="Rounded Image" class="rounded">
                        </div>
                        <div style="padding:15px;">

                            <div class="tab-pane active" id="home1" role="tabpanel">
                                <p class="category">Black Hat </p>
                                <p>Rs: 500</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-3">
                    <div class="card">
                        <div class="col-sm-12" style="margin-top:15px;">
                            <img src="assets/img/avatar.jpg" alt="Rounded Image" class="rounded">
                        </div>
                        <div style="padding:15px;">
                            <div class="tab-pane active" id="home1" role="tabpanel">
                                <p class="category">Black Hat </p>
                                <p>Rs: 500</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>