<section id="slider">
  <!--slider-->
  <div class="container">
      <div class="row">
          <div class="col-sm-12">
              <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                      <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                      <li data-target="#slider-carousel" data-slide-to="1"></li>
                      <li data-target="#slider-carousel" data-slide-to="2"></li>
                  </ol>

                  <div class="carousel-inner">
                      <div class="item active">
                          <div class="col-sm-6">
                              <h1>
                                  <span>RG</span>-Store</h1>
                              <h2>Shopping made easy</h2>
                              <p>Get the latest collection of any fashion brand.</p>
                              <button type="button" class="btn btn-default get">Get it now</button>
                          </div>
                          <div class="col-sm-6">
                              <img src="./assets/images/home/girl1.jpg" class="girl img-responsive" alt="" />
                          </div>
                      </div>
                      <div class="item">
                          <div class="col-sm-6">
                              <h1>
                                <span>RG</span>-Store</h1>
                              <h2>All Uniforms</h2>
                              <p>Find all available uniforms for men and women from our range of all types of uniform </p>
                              <button type="button" class="btn btn-default get">Get it now</button>
                          </div>
                          <div class="col-sm-6">
                              <img src="./assets/images/home/banner-uniform.jpg" class="girl img-responsive" alt="" />
                          </div>
                      </div>

                      <div class="item">
                          <div class="col-sm-6">
                              <h1>
                                <span>RG</span>-Store</h1>
                                <h2>Shopping made easy</h2>
                              <p>Get unbeliveable discount, grab them fast and get it delivered to your doorsteps. </p>
                              <button type="button" class="btn btn-default get">Get it now</button>
                          </div>
                          <div class="col-sm-6">
                              <img src="./assets/images/home/girl3.jpg" class="girl img-responsive" alt="" />
                              <!-- <img src="./assets/images/home/pricing.png" class="pricing" alt="" /> -->
                          </div>
                      </div>

                  </div>

                  <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                      <i class="fa fa-angle-left"></i>
                  </a>
                  <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                      <i class="fa fa-angle-right"></i>
                  </a>
              </div>

          </div>
      </div>
  </div>
</section>
<!--/slider-->